.row.text-center
  #content{style: "padding-top: 30px;"}
    .small-6.columns.small-centered
      %form
        .row
          .large-12.columns
            %input#name{type: "text", placeholder: "Input Name"}
    .large-4.columns
      %p Test
    .large-4.columns
      %p Test 2
    .large-4.columns
      %p Test 3
