.row.text-center
  #content{style: "padding-top: 30px;"}
    .large-4.columns
      %h4 find drinks
      %img{src: "/img/beer.png"}
    .large-4.columns
      %h4 find places
      %img{src: "/img/bar.png"}
    .large-4.columns
      %h4 find friends
      %img{src: "/img/friends.png"}
.row.text-center
  .small-6.columns.small-centered
    %form
      .row.extramargin
        .large-12.columns
          %input#name{type: "text", placeholder: "Input Name"}
:javascript
  $('input#name').typeahead({
    name: 'names',
    prefetch: 'http://dev2.eddiezane.com:4567/drinkers'
    }).style;
  $('.row')
