!!!
%html{class: "no-js", lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title Baralicious
    %link{rel: "stylesheet", href: "/css/foundation.css"}
    %link{rel: "stylesheet", href: "/css/baralicious.css"}
    %script{src: "/js/Chart.js"}
    %script{src: "/js/modernizr.js"}
    %script{src: "/js/jquery.js"}
    %script{src: "/js/vendor/typeahead.min.js"}

  %body
    .large-12.columns{style: "background-color: #16a395; padding: 2%;"}
      %h1.text-center{style: "color: white;"} Baralicious
    = yield
    %script{src: "/js/foundation.min.js"}
    :javascript
      $(document).foundation();
