!!!
%html{class: "no-js", lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title Baralicious
    %link{rel: "stylesheet", href: "css/foundation.css"}
    %script{src: "js/modernizr.js"}

  %body
    .row
      .large-12.columns
        .panel
          -# Yield to view
          = yield
          %h3 Tacos
    %script{src: "js/jquery.js"}
    %script{src: "js/foundation.min.js"}
    :javascript
      $(document).foundation();
