!!!
%html{class: "no-js", lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title Baralicious
    %link{rel: "stylesheet", href: "css/foundation.css"}
    %link{rel: "stylesheet", href: "css/baralicious.css"}
    %script{src: "js/modernizr.js"}

  %body
    .large-12.columns{style: "background-color: #16a085; padding: 8%;"} 
      %h1.text-center{style: "color: white;"} Baralicious
    = yield
    %script{src: "js/jquery.js"}
    %script{src: "js/foundation.min.js"}
    %script{src: "js/vendor/typeahead.min.js"}
    :javascript
      $(document).foundation();
      $('input#name').typeahead({
        name: 'names',
        prefetch: 'http://dev2.eddiezane.com:4567/users'
        });
